.cardContainer {
    width: 33%;
    padding: 16px;
    background-color: var(--opacity-mask);
    border-radius: 6px;
}

.message {
    margin-top: 0;
}

.source {
    text-align: end;
    margin: 0
}

@media (orientation: portrait) {
    .cardContainer {
        width: 100%;
        padding: 16px;
        background-color: var(--opacity-mask);
        border-radius: 6px;
    }
}