.container {
    background-color: var(--background-allocations);
    height: 100vh;
    width: 100vw;
}

.title {
    font-size: calc(10px + 2vmin);
    font-family: Hiragino Kaku Gothic Std, serif;
    color: #BA0D32;
}