.container {
    display: flex;
    width: 100vw;
    background-color: var(--background-welcome);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-block: 0;
    padding: calc(2 * var(--base));
}

.content {
    justify-items: center;
    padding: calc(2 * var(--base));
}

.title {
    margin-top: calc(4 * var(--base));
    font-size: clamp(1rem, 5vw, 5rem);;
    font-family: Hiragino Kaku Gothic Std, serif;
    color: #FEA832;
    text-shadow: 0.5vw 0.5vw 0 #AF291A;
}

.subtitle {
    margin: 1rem 0;
    font-size: clamp(0.75rem, 3vw, 3rem);
    font-family: Archer, serif;
    color: #FEA832;
    text-shadow: 0.3vw 0.3vw 0 #AF291A;
}

.text {
    margin-top: 1.5rem;
    font-size: 1.6vw;
    font-family: Helvetica, serif;
    font-weight: bold;
    color: #000;
    text-wrap: auto;
    line-height: 2;
}

@media (orientation: portrait) {
    .container {
        display: flex;
        width: 100vw;
        background-color: var(--background-welcome);
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-block: 0;
        padding: calc(2 * var(--base));
    }

    .content {
        justify-items: flex-start;
        padding: calc(2 * var(--base));
    }

    .text {
        margin-top: 1.5rem;
        font-size: 3vw;
        font-family: Helvetica, serif;
        font-weight: bold;
        color: #000;
        text-wrap: auto;
        line-height: 2;
    }
}