.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-welcome);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-block: 0;
}

.title {
    margin-top: 1rem;
    font-size: 5vw;
    font-family: Hiragino Kaku Gothic Std, serif;
    color: #FEA832;
    text-shadow: 3px 3px 0 #AF291A;
}

.subtitle {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3vw;
    font-family: Archer, serif;
    color: #FEA832;
    text-shadow: 3px 3px 0 #AF291A;
}

.text {
    margin-top: 1.5rem;
    font-size: 1.6vw;
    font-family: Helvetica, serif;
    font-weight: bold;
    color: #000;
    text-wrap: auto;
    line-height: 2;
}