.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.backgroundImage {
    display: block;
    max-width: 100%;
    width: 100vw;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-24px);
}

.title {
    opacity: 100% !important;
    margin-top: 0;
    font-size: clamp(5vw, 8vw, 8rem);
    font-family: Futura, serif;
    font-weight: bold;
    color: #E08FB9;
    -webkit-text-stroke: 2px var(--deep-burgundy);
}

.subtitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 100% !important;
    margin: 0;
    font-size: clamp(2vw, 3.5vw, 4rem);
    font-family: Archer, serif;
    font-weight: bold;
    color: #E08FB9;
    text-align: center;
}


