:root {
  --base: 4px;
  --background-movie-listing: #F3DEA5;
  --background-directions: #F7D7D7;
  --background-recommendations: #C2DFD2;
  --background-present: #B1AADD;
  --background-confirmation: #FFF;
  --background-welcome : #57BCAF;
  --background-allocations: rgba(182, 223, 220, 0.4);
  --opacity-mask : #0000001A;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
