.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.titleContainer {
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
}

.carContainer {
    padding: 24px;
    width: 50%;
}

.busContainer {
    padding: 24px;
    width: 50%;
}

.title {
    margin-top: calc(4 * var(--base));
    font-size: clamp(1rem, 5vw, 5rem);;
    font-family: Hiragino Kaku Gothic Std, serif;
    color: #FEA832;
    text-shadow: 0.5vw 0.5vw 0 #AF291A;
}

.subtitle {
    text-align: center;
    margin-top: calc(4 * var(--base));
    font-size: clamp(0.4rem, 3vw, 3rem);;
    font-family: Hiragino Kaku Gothic Std, serif;
    color: #FEA832;
    text-shadow: 0.25vw 0.25vw 0 #AF291A;
}

.imageContainer {
    background-color: #FFDDAD;
}
.backgroundImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    opacity: 0.69;
}

@media (orientation: portrait) {
    .content {
        flex-direction: column;
    }

    .carContainer {
        width: 100%;
    }

    .busContainer {
        width: 100%;
    }

    .subtitle {
        margin-top: calc(2 * var(--base));
    }
}