.titleContainer {
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.carContainer {
    padding: 24px;
    width: 50%;
}

.busContainer {
    padding: 24px;
    width: 50%;
}

.imageContainer {
    margin-top: 1.5rem;
    background-color: #FFDDAD;
}
.backgroundImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    opacity: 0.69;
}

.gap {
    gap: 16px;
}

@media (orientation: portrait) {
    .carContainer {
        width: 100%;
    }

    .busContainer {
        width: 100%;
    }
}